bady, html {
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url("https://wallpapers.com/images/hd/eerie-forest-dark-aesthetic-m0z20bl8ehnt276a.jpg");
    background-position: center;
}

a {
   text-decoration: none;
   color: rgb(57, 4, 247);
}

h1 {
    font-family: 'Times New Roman', Times, serif;
   text-align: center;
   text-transform: uppercase;
   text-shadow: 1px 3px 10px rgb(5, 5, 5);
}
img{
    width: 180px;
    height: 200px;
    margin: 20px;
    border: 4px solid black;
    border-radius:10px;
}
p{
    padding-top: 0;
    text-indent: 90px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    word-spacing: 1px;
    padding: 20px;
}
h2{
    color: aliceblue;
    padding-top: 3px;
    padding-bottom: 0px;
}
hr{
    padding: 0;
}